
profiles = {
    "worksmobile": {
        "host": "imap.worksmobile.com",
        "user": "example@example.com",
        "mailbox": "INBOX",
    },
    "gmail": {
        "host": "imap.gmail.com",
        "user": "example@gmail.com",
        "mailbox": "INBOX",
    }
}

default_profile = "gmail"
timezone = "+0900"

SUBJECT_PATTERNS = [
    "모니터링 이벤트 알림",
    "동안 발생 빈도가 높아진 안정성 문제",
    "[JIRA] (",
    "[Firebase] Crashlytics 신속 알림",
    "(광고)",
    "[광고]",
    "App Store Connect:",
    "테스트",
]

SENDER_PATTERNS = [
    "@ifttt.com",
    "no_reply@email.apple.com",
    "do-not-reply@imdb.com",
]

RECEIVERS_PATTERNS = [
]

log = {
    "format": "%(asctime)s %(levelname)s %(message)s",
    "datefmt": "%Y-%m-%d %H:%M:%S",
    #"filename": "/tmp/a.log"
}
